<?xml version="1.0" encoding="UTF-8"?>
<style-scheme id="{{scheme-slug}}" name="Base16 {{scheme-name}}" version="1.0">
	<author>{{scheme-author}}</author>
	
	<!-- Scheme colors -->
	<color name="base00" value="#{{base00-hex}}" />
	<color name="base01" value="#{{base01-hex}}" />
	<color name="base02" value="#{{base02-hex}}" />
	<color name="base03" value="#{{base03-hex}}" />
	<color name="base04" value="#{{base04-hex}}" />
	<color name="base05" value="#{{base05-hex}}" />
	<color name="base06" value="#{{base06-hex}}" />
	<color name="base07" value="#{{base07-hex}}" />
	<color name="base08" value="#{{base08-hex}}" />
	<color name="base09" value="#{{base09-hex}}" />
	<color name="base0A" value="#{{base0A-hex}}" />
	<color name="base0B" value="#{{base0B-hex}}" />
	<color name="base0C" value="#{{base0C-hex}}" />
	<color name="base0D" value="#{{base0D-hex}}" />
	<color name="base0E" value="#{{base0E-hex}}" />
	<color name="base0F" value="#{{base0F-hex}}" />
	
	<style name="text" foreground="base05" background="base00" />
	<style name="selection" background="base02" />
	<style name="cursor" foreground="base05" background="base05" />
	<style name="current-line" foreground="base03" background="base01" />
	<style name="line-numbers" foreground="base04" background="base01" />
	<style name="bracket-match" foreground="base08" background="base00" />
	<style name="search-match" foreground="base02" background="base0A" />
	
	<style name="def:function" foreground="base0D" />
	<style name="def:identifier" foreground="base08" />
	<style name="def:keyword" foreground="base0E" />
	<style name="def:number" foreground="base09" />
	<style name="def:boolean" foreground="base09" />
	<style name="def:string" foreground="base0B" />
	<style name="def:special-char" foreground="base0C" />
	<style name="def:builtin" foreground="base0C" />
	<style name="def:type" foreground="base0A" />
	<style name="def:preprocessor" foreground="" />
	<style name="def:comment" foreground="base03" />
</style-scheme>
